<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jankinwu.fntv.client.mapper.FnMediaInfoMapper">

    <resultMap id="BaseResultMap" type="com.jankinwu.fntv.client.repository.domain.FnMediaInfoDO">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="mediaName" column="MEDIA_NAME" jdbcType="VARCHAR"/>
            <result property="mediaFullPath" column="MEDIA_FULL_PATH" jdbcType="VARCHAR"/>
            <result property="mediaGuid" column="MEDIA_GUID" jdbcType="VARCHAR"/>
            <result property="mediaType" column="MEDIA_TYPE" jdbcType="VARCHAR"/>
            <result property="mediaFormat" column="MEDIA_FORMAT" jdbcType="VARCHAR"/>
            <result property="category" column="CATEGORY" jdbcType="VARCHAR"/>
            <result property="m3u8Content" column="M3U8_CONTENT" jdbcType="VARCHAR"/>
            <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,MEDIA_NAME,MEDIA_FULL_PATH,
        MEDIA_GUID,MEDIA_TYPE,MEDIA_FORMAT,
        CATEGORY,M3U8_CONTENT,CREATE_BY,
        UPDATE_BY,CREATE_TIME,UPDATE_TIME
    </sql>
</mapper>
